.inicio-container {
    text-align: center;
    background-color: #f0f4f8;
    padding: 50px 20px;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
}


p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 30px;
}


.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin: 15px 0;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    background-color: #007bff;
    padding: 15px 30px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    width: 250px;
}

.nav-link:hover {
    background-color: #007bff;
    transform: scale(1.05);
}


.link-icon {
    margin-right: 10px;
    font-size: 1.5em;
}


.inicio-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.nav-list li {
    display: inline-block;
    margin-right: 20px;
}

