.relatorio-page {
    background-color: #1c1f2b;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding: center;
}

.relatorio-container {
    background-color: #2a2d3e;
    padding: 30px;
    border-radius: 10px;
    width: center;
    max-width: 800px;
    color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 191, 255, 0.3);
    text-align: center;
}

.relatorio-container h1 {
    color: #00bfff;
    font-size: 30px;
    text-shadow: 0 0 10px #00bfff, 0 0 20px #0099cc;
    margin-bottom: 20px;
}

.relatorio-page .form-group {
    width: auto;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #00bfff;
    border-radius: 8px;
    background: rgba(0, 0, 50, 0.3);
    text-align: left;
}

.relatorio-page label {
    display: block;
    font-weight: bold;
    color: #00e6ff;
    margin-bottom: 5px;
    font-size: 16px;
    text-shadow: 0 0 5px #00e6ff, 0 0 10px #00bfff;
}

.relatorio-page input[type="text"],
.relatorio-page textarea,
.relatorio-page select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #00bfff;
    border-radius: 5px;
    background-color: #2a2d3e;
    color: #ffffff;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
}

.relatorio-page input[type="text"]:focus,
.relatorio-page textarea:focus,
.relatorio-page select:focus {
    border-color: #00e6ff;
    box-shadow: 0 0 15px #00bfff;
}

.relatorio-page textarea {
    resize: none;
}

.relatorio-page button {
    display: block;
    width: auto;
    max-width: 200px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #00bfff;
    color: #ffffff;
}

.relatorio-page .btn-primary {
    background-color: #00bfff;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.relatorio-page .btn-primary:hover {
    background-color: #008fcc;
    box-shadow: 0 0 10px #00bfff;
}

.relatorio-page .btn-secondary {
    background-color: #2a2d3e;
    color: #ffffff;
}

.relatorio-page .btn-secondary:hover {
    background-color: #3a3d4e;
    box-shadow: 0 0 10px #00e6ff;
}
